.container-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4px;
  text-align: center;
  height: 100vh;
  background-image: url(../../Public/imgfondo.jpg);
}

.form-title {
  font-family: "Cabin", sans-serif;
}

.form-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border: 2px solid #111;
  width: 45%;
  height: 500px;
  border-radius: 20px;
  background-color: #ddbc95;
  box-shadow: 10px 10px 2px 0px rgba(0, 0, 0, 0.6);
}

.form-input {
  margin: 10px;
  width: 80%;
  padding: 5px;
  margin: 8px;
  border: none;
  border-bottom: 2px solid #111;
  background: transparent;
  outline: none;
}

.form-input::placeholder {
  font-size: 2.5vh;
}

.form-checkbox {
  margin: 5px;
  padding: 5px;
}

.btn-create {
  text-align: center;
  border-radius: 20px;
  padding: 10px;
  margin: 15px;
  font-size: 1em;
  font-family: "Cabin", sans-serif;
  background-color: #b38867;
  border: 1px solid #b38867;
}
.btn-create:hover {
  cursor: pointer;
  background-color: #111;
  color: #b38867;
  border: 1px solid #111;
}

.error {
  color: rgb(255, 0, 0);
  font-family: "Cabin", sans-serif;
}
