.home-container {
  background-color: #fff;
}

.container-recipes {
  width: 100%;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 2%;
  background: transparent;
}

.recipes {
  width: 25%;
}

.title-home {
  text-align: center;
  width: 100%;
  color: #111;
  padding: 10px;
  background: #b38867;
  font-family: "Pacifico", cursive;
  font-size: 40px;
}
