.container-recipes {
  width: 79%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.recipes {
  width: 25%;
}

.title-home {
  text-align: center;
  width: 100%;

  color: #fff;
  padding: 10px;
  border-radius: 50px;
  background: #111;
}
