.container-nav {
  width: 20%;
  height: 80vw;
  background-color: #a63d40;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

select,
input {
  padding: 5px;
  margin: 30px 10px;
  border: none;
  border-bottom: 2px solid #111;
  background: transparent;
}

button {
  border: 2px solid #111;
  background: transparent;
  margin: 30px 10px;
  padding: 5px;
}
button:hover {
  cursor: pointer;
  background: #111;
  color: #a63d40;
}
.btn-search {
  padding: 5px 17px;
}

input {
  outline: none;
}

.link {
  color: #111;
  font-size: 1vw;
  text-decoration: none;
  border: 2px solid #111;
  padding: 5px;
  margin: 10px;
  text-align: center;
}

.link:hover {
  background: #111;
  color: #a63d40;
}
