.container-nav {
  width: 100%;
  height: 4rem;
  background-color: #ddbc95;
  float: top;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: "Cabin", sans-serif;
  align-items: center;
  margin-bottom: 1rem;
  position: fixed;
  z-index: 5;
}

.container-nav .btn-logut {
  background-color: #111;
  color: #ddbc95;
  font-family: "Cabin";
  border: none;
  font-size: medium;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
}
.container-nav .btn-logut:hover {
  background-color: #444;
  cursor: pointer;
}

.container-nav a {
  text-decoration: none;
  color: #111;
}

.input-search {
  border: none;
  background: transparent;
  &:hover {
    cursor: pointer;
  }
}

.button-search {
  background: transparent;
  width: 100px;
  height: 100%;
  border: none;
  font-size: 1.3em;
}

.btn-search {
  font-size: 1.3em;
}

input {
  outline: none;
  color: #111;
  font-size: 1em;
  font-family: "Orienta", sans-serif;
}

.input-search a:visited {
  color: aliceblue;
}

.input-search:focus {
  outline: none;
}

.user-logout {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.user-logout p {
  margin: 0;
}

.icons {
  font-size: 30px;
  padding: 15px;
  text-align: center;
  margin-top: 250px;
}

.icons i {
  margin: 5px;
  padding: 15px;
}

.input-search {
  font-size: 1em;
  width: 160px;
  font-family: "Orienta", sans-serif;
  height: 100%;
}
