.container-nav {
  width: 90%;
  height: 5vw;
  background-color: #ddbc95;
  float: top;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: "Cabin", sans-serif;
  /* position: absolute; */
  align-items: center;
  position: relative;
  top: -2rem;
  right: -5rem;
}

form {
  height: 100%;
}

.input-search {
  border: none;
  background: transparent;
}

.button-search {
  background: transparent;
  width: 100px;
  height: 100%;
  border: none;
  font-size: 1.3em;
}
.button-search:hover {
  cursor: pointer;
  background: #b38867;
  color: #fff;
  padding: 21.5px;
}
.btn-search {
  font-size: 1.3em;
}

input {
  outline: none;
  color: #111;
  font-size: 1em;
  font-family: "Orienta", sans-serif;
}

.input-search .link {
  color: red;
  font-size: 1em;
  text-decoration: none;
  width: 120px;
  height: 100%;
  text-align: center;
  font-family: Orienta, sans-serif;
}

.input-search a:visited {
  color: aliceblue;
}

.link:hover {
  background: #b38867;
  color: #fff;
}

.icons {
  font-size: 30px;
  padding: 15px;
  text-align: center;
  margin-top: 250px;
}

.icons i {
  margin: 5px;
  padding: 15px;
}

.input-search {
  font-size: 1em;
  width: 160px;
  font-family: "Orienta", sans-serif;
  height: 100%;
}

.input-search:hover:not(input[type="text"]) {
  cursor: pointer;
  background: #b38867;
  color: #fff;
  border: none;
}
