.container {
  width: 100%;
  height: 100vh;
  background: url(../../Public/ImgLandingpage.jpg);
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
}

.title {
  font-size: 4.5vw;
  color: #fff;
  margin-top: 10px;
  margin-left: 20px;
  text-align: left;
}

.landing {
  width: 100%;
  height: 100vh;
  text-align: center;
}

.btnLanding {
  padding: 15px;
  background-color: transparent;
  margin: 0;
  border-style: none;
  color: #fff;
  font-size: 1.5vw;
  border: 2px solid #fff;
  border-radius: 20px;
  width: 100%;
  -webkit-box-shadow: 10px 10px 2px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 10px 10px 2px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 10px 10px 2px 0px rgba(0, 0, 0, 0.6);
  transition-duration: 0.8;
}

.btnLanding:hover {
  cursor: pointer;
  background-color: #fff;
  color: #111;
  width: 10%;
  transition-duration: 0.5s;
}
