.title {
  font-size: 4.5vw;
  color: #fff;
  padding-top: 10px;
  margin-left: 20px;
  text-align: left;
  position: relative;
  z-index: 2;
}

.landing {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.capa {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1c1c1d;
  opacity: 0.5;
  mix-blend-mode: overlay;
}

.btnLanding {
  background-color: #b38867;
  color: #fff;
  padding: 10px;
  border: 2px solid #b38867;
  border-radius: 20px;
  position: relative;
  z-index: 2;
  font-family: "Orienta", sans-serif;
  width: 150px;
  margin: 20px;
  font-size: 1.2em;
}

.btnLanding:hover {
  cursor: pointer;
  color: #b38867;
  background: #fff;
  border: 2px solid #fff;
}
