.detail-container {
  width: 94%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.detail-title {
  margin-bottom: 1rem;
  background-color: #ddbc95;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: #555;
}
.detail-header {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}
.detail-header img {
  max-width: 50%;
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
}

.detail-header > img,
.detal-headre > div {
  border-radius: 1rem;
}

.detail-sum {
  padding: 0 2rem;
}

.steps-container {
  max-width: 1024px;
  width: 90%;
  margin: 0 auto;
}
.timeline-item {
  padding: 1em 2em 1em;
  position: relative;
  color: rgba(0, 0, 0, 0.7);
  border-left: 4px solid rgba(0, 0, 0, 0.5);
}
.timeline-item p {
  background-color: #e8e7e7;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.timeline-item::before {
  content: attr(date-is);
  position: absolute;
  left: -1.1em;
  font-weight: bold;
  top: 1em;
  text-align: center;
  display: block;
  font-family: "Cabien", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  background-color: #ddbc95;
  padding: 0.5rem;
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
}
.timeline-item::after {
  width: 10px;
  display: block;
  top: 1em;
  position: absolute;
  left: -7px;
  border-radius: 10px;
  content: "";
  border: none;
  background: white;
}

.timeline-item:last-child {
  border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)) 1 100%;
}

.steps,
p {
  margin-bottom: 1rem;
}

.steps i {
  color: #ddbc95;
}
.step {
  border-left: 5px solid #ddbc95;
}

.ingredients-container {
  display: flex;
  color: #111;
  width: 100%;
  flex-wrap: wrap;
  gap: 1rem;
}

.btn-back {
  padding: 10px;
  margin: 0 43%;
  background: #ddbc95;
  color: #111;
  font-weight: 700;
  font-family: "Cabin";
  width: 200px;
  border: none;
  border-radius: 0.5rem;
  font-size: large;
}

.btn-back:hover {
  background: #111;
  color: #ddbc95;
  cursor: pointer;
}

.ingredients {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 8rem;
}
.ingredients img {
  min-height: 4rem;
}
