.recipe-ind {
  width: 320px;
  flex-direction: column;
  text-align: center;
  margin: 4px;
  border-radius: 20px;
  height: 360px;
  margin: 10px;
  overflow: hidden;
  justify-content: center;
  z-index: 1;
  background: #fff;
}

.img-recipe {
  width: 320px;
  height: 200px;
}

.title-recipe {
  text-align: center;
  font-size: 1.3vw;
  font-family: Arial, Helvetica, sans-serif;
  color: #a63d40;
  background-color: #111;
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  margin-left: -7px;
  margin-top: -7px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.img-container {
  width: 100px;
}

.recipe-ind:hover {
  -webkit-box-shadow: 8px 7px 11px 0px #666;
  box-shadow: 8px 7px 11px 0px #666;
}

.subtitle-recipe {
  padding: 10px;
  line-height: 1.5em;
  letter-spacing: 1px;
}
